@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,700;0,800;1,300&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #50A8EA;
    --secondary-color: #9195A0;
    --my-black: #2c3246;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    // background-color: #ffffff00;
}

h3 {          
    padding: .625em;
    color: var(--my-black);  
    font-family: 'Oswald', sans-serif;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: var(--my-black);
    font-weight: 700;
    line-height: 1.75em;
    font-size: 1.375em;
    cursor: pointer;
    padding: 0.2em 0 .3em 0;
}

.btn {
    border: 1px solid var(--secondary-color);
    padding: 0.8em .6em;
    color: var(--my-black);
    font-weight: bold;
    border-radius: .2em;
}

.btn:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
}


.tags {
        a {
            text-decoration: none;
            background-color: var(--primary-color);
            text-align: center;
            font-weight: bold;
            display: inline-block;
            background-color: var(--primary-color);
            color: white;
            padding: .4em;
            margin: .3em 0;
            border-radius: .5em;
            font-size: .8em;
            }
        }

.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6em 1em; 
            

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
           
            background:  var(--primary-color);
            z-index: 3;
            // transition: all 300ms ease-in-out;

            a {
                text-decoration: none;
                color: white;
                font-family: 'Oswald', sans-serif;
                font-size: 1.2em;
               }
            .code {
                color: var(--my-black);
            }   
            .contact-btn {
                // background: var(--my-black);
                border: 1px solid white;
                padding: .1em .3em;
                border-radius: 10px;
            }               

             nav {
                    line-height: 1.8em;

                  ul {
                        display: flex;
                        justify-content: space-between;
                        list-style-type: none;
                    

                        li {
                            padding: .6em;
                         }
                        
             
                }
            }
    }


.hero {
    min-height: 63vh;
    width: 100%; 
    background-image:url(../images/background/pexels-tiana-238302.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 3em;


    input[type=text] {
      
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 16px;
        box-sizing: border-box;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        
    }

}

.row {
    display: flex;
    justify-content: space-between;
    margin: 2em .8em .5em .8em;
    
}

.blog-area {
    
    flex-basis: 70%;

    .post {
    
        border-bottom: .01em solid  var(--secondary-color);
        margin: 1.2em auto;
        padding: 0 .2em;
        max-width: 80%;
    

        .post-titles {
            display: flex;
            align-items: center;
            width: 660px;
            height: 40px;
            
            line-height: 1,25em;
            font-family: 'Oswald', sans-serif;
            font-size: 14px;
            cursor: pointer;
                

        .profile-pic {
                    height: 40px;
                    width: 40px;
                    border: 1px solid var(--primary-color);
                    border-radius: 50%;
            }

            .date {
                // opacity: .6;
                color: var(--secondary-color);
            }
        }    
        
        .post-body {
                display: flex;

                .post-image {
            
                    width: 8.125em;
                    height: 7em;
                    display: block;
                    border-radius: 0.42em;
                    margin-left: 1.8em;
                }
                

 
                a:link , a:visited {
                    text-decoration: none;
                    color: var(--my-black);
                    font-family: 'Oswald', sans-serif;
                }
                a:hover , a:active {
                        font-weight: bolder;
                }

                .description {
                    font-family: 'Roboto', sans-serif;
                    color: var(--secondary-color);
                }
            }

        .post-footer {
            margin: 2em 0 1.2em;
            display: flex;      
            align-items: center;
            justify-content: space-between;

            ul {
                list-style: none;
                display: flex;      
                align-items: center;

                li {
                    padding: 0.3em;

                    a {
                        text-decoration: none;
                        text-align: center;
                        display: inline-block;
                        background-color: var(--primary-color);
                        color: white;
                        padding: .4em;
                        border-radius: .5em;
                        font-size: .8em;
                    }
                }
            }

            .icons {
                display: flex;
                align-content: center;   
                p {
                    padding: 0 .8em 0 0;
                    color: var(--my-black);
                }         
            }
        }

    }

}


//  -------sidebar -------

aside {

    flex-basis: 30%;
    border-left: .01em solid  var(--secondary-color);   
    padding-left: 2em;

    .tags-section {
        .title {
            color: var(--my-black);
            padding-left: 0;
        }
        
    }

    .staff-picks {
        margin: 1.2em 0;

        .staff-picks-box {
            margin: .2em 0 .9em 0;
        }

        .writer-details {
            display: flex;
            align-items: center;
            

            img {
                height: 1.25em;
                width: 1.25em;
                border-radius: 50%;
                margin-right: .2em;
            }
        }
    }

    p {
        padding: .2em .3em .2em .3em;
        font-size: .8em;
        color: var(--my-black);
        font-weight: bold;
    }

    h5 {
        margin: .2em 0;
        font-size: 1em;
        color: var(--my-black);
        cursor: pointer;

    }

    a {
        text-decoration: none;
    }

    h3 {
        padding-left: 0;        
    }

    .categories {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 .2em 0;
                       
    }

    .pill {
        background: var(--primary-color);
        color: #fff;
        border-radius: .5em;
    }

    ul {
        list-style: none;
        position: relative;
        bottom: 0;

        li {
            display: inline-block;
            padding: .2em;

            a {
                text-decoration: none;
                color: var(--secondary-color);
                font-size: small;
            }
        }
    }   
    
}

// <----blog details page --------->

.blog-details {
    flex-basis: 70%;
    margin: 5%;

    img {
        width: 100%;
        height: auto;
    }


    .icons {
        display: flex;
        align-content: center;   
        justify-content: space-between;

        p {
            padding: 1.2em ;
            color: var(--my-black);
        }         
    }

    p {
        color: var(--secondary-color);
        padding: 0;
        text-align: justify;
    }
    .comment-box {
        border: 2px solid var(--secondary-color);
        margin: 50px 0;
        padding: 10px 20px;
    }

    .comment-form input, .comment-box textarea {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: #f0f0f0;
        resize: none;
    }  

}

.blog-details-aside {
    margin: 5%;
}
