@forward "globals";
@forward "layout";
@forward "util";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,700;0,800;1,300&family=Roboto:wght@400;700&display=swap');



p::selection {
  color: white;
  background: var(--primary-color);
}

h3 {          
    padding: .625em;
}

h2 {
    padding: 0.2em 0 .3em 0;
}

.btn {
    border: 1px solid var(--my-black);
    padding: 0.8em 1.6em;
    color: var(--my-black);
    
    border-radius: .2em;
    background-color: var(--primary-color);
    color: white;
}

.btn:hover {
       font-weight: bold;
}

.date {
                // opacity: .6;
                color: var(--secondary-color);
            }
.tags {
        a {
            text-decoration: none; 
            text-align: center;
            font-weight: bold;
            display: inline-block;
            background-color: var(--primary-color);
            color: white;
            padding: .4em;
            margin: .3em 0;
            border-radius: .5em;
            font-size: .8em;
            }
        }

.navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6em 1em; 
            

            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
           
            background:  var(--primary-color);
            z-index: 3;
            // transition: all 300ms ease-in-out;

            a {
                text-decoration: none;
                color: white;
                font-family: 'Oswald', sans-serif;
                font-size: 1.2em;
               }
            .code {
                color: var(--my-black);
            }   
            .contact-btn {
                // background: var(--my-black);
                border: 1px solid white;
                padding: .1em .3em;
                border-radius: 10px;
            }               

             nav {
                    line-height: 1.8em;

                  ul {
                        display: flex;
                        justify-content: space-between;
                        list-style-type: none;
                    

                        li {
                            padding: .6em;
                         }
                        
             
                }
            }
    }


.hero {
    min-height: 63vh;
    width: 100%; 
    background-image:url(../images/background/pexels-tiana-238302.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 3em;


    input[type=text] {
      
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 16px;
        box-sizing: border-box;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        
    }

}



// <----blog details page --------->

.blog-details {
    flex-basis: 70%;
    margin: 5%;

    img {
        width: 100%;
        height: auto;
    }


    .icons {
        display: flex;
        align-content: center;   
        justify-content: space-between;

        p {
            padding: 1.2em ;
            color: var(--my-black);
        }         
    }

    p {
        color: var(--secondary-color);
        padding: 0;
        text-align: justify;
    }
    .comment-box {
        border: 2px solid var(--secondary-color);
        margin: 50px 0;
        padding: 10px 20px;
    }

    .comment-form input, .comment-box textarea {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        background: #f0f0f0;
        resize: none;
    }  

}

.similar-posts {
    margin: 1.2em 0 1em 0;
    h2 { padding-bottom: 1.2em;}

    .flex-container {
        display: flex;
        align-items: center;

        .small-posts {
            padding: .5em;
            img {
                // max-width: 12em;
                max-width: 95%;
                height: 9em;
            }

            .small-icons {
                display: flex;
                align-items: center;
                padding: 1.2em 0 1em 0;

                p {padding: .3em;}
            }
            h3 {
                padding: 0.5em 0;
            }
            p {
                padding: .8em 0 0 0;
                a {
                    text-decoration: none;
                    color: var(--primary-color);
                    font-weight: bold;
                    
                }
            }
        }
    }
}

.blog-details-aside {
    margin: 5%;
}

// ----------comments-------

.comments {

    .comment {
        margin: 0 0 1.2em 1.5em;
        .likes {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: .6em 0 .2em 0;
        }
    }
    .comment-info {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: .5em 0 0 0;
        }

        .user-details {
            display: flex;
            align-items: top;
            font-size: .9em;

            p {padding: 0 0 0 .7em;}

            .name { font-weight: bold;
                    color: var(--my-black);}

        }
    }
    .comment-text {
        padding: 0 0 0 2.9em;
        // margin: 0 0 .6em 0.3em;
    }
}





