{% extends 'base.html' %}

{% load static %}

{% load humanize %}
{% load hitcount_tags %}
{% load code_tags %}


{% block title %}
    {{post.title}}
{% endblock title %}

{% block body %}
    
    <section class="blog">

        <div class="flex">

            <div class="blog-details">

                <img src="{{post.photo.url}}" alt="blog image">

                <div class="icons">
                     <p><i class="fa-regular fa-calendar-days"></i> {{post.publish | naturaltime}}</p>    
                     <p><i class="fa-solid fa-eye"></i> {% get_hit_count for post %} Views</p>
                     <p><i class="fa-solid fa-user"></i> {{post.author}}</p>
                     <p><i class="fa-solid fa-comments"></i>
                        {% with post.comments.count as total_comments %}                                                   
                                {{ total_comments }} comment{{ total_comments|pluralize }}                     
                        {% endwith %}	
                    </p>
                </div>

                <h2>{{post.title}}</h2>
                
                {{post.body | markdown}}        
                
                <div class="similar-posts">

                    <h2>Similar Posts</h2>
                    <div class="flex-container">

                        {% for item in similar_posts %}
                            <div class="small-posts">
                                <img src="{{item.photo.url}}" alt="small posts">

                                <div class="small-icons">                               
                                    <p><i class="fa-solid fa-eye"></i> {% get_hit_count for item %}</p>
                                    <p><i class="fa-solid fa-user"></i> {{item.author}}</p>
                                    <p><i class="fa-solid fa-comments"></i> 
                                        {% with item.comments.count as total_comments %}  
                                            {{ total_comments }}
                                        {% endwith %}
                                    
                                    </p>
                                </div>

                                <h3>{{item.title}}</h3>

                                <p class="txt">{{item.body | truncatewords_html:15 | markdown}}</p>

                                <p class="txt"><a href="{{item.get_absolute_url}}">Read More</a></p>   
                            
                            </div>

                        {% empty %} 
                         <p> No similar posts at the moment</p>   
                        {% endfor %}


                                   
                    </div>                         

   
                   <section class="comments">     
                        <h3>Comments</h3> 

                        {% for item in comments %}
        
                        <div class="comment">
                            <div class="comment-info">

                                <img src="{% static 'images/profile/pexels-suliman-sallehi-1704488.jpeg' %}" alt="">
                                <div class="user-details">
                                    <p class="name">{{item.name}}</p>
                                    <p>{{item.publish | naturaltime}}</p>
                                </div>
                            </div>
                            <p class="comment-text">{{item.body}}</p>
                            <div class="likes">
                                <p><i class="fa-regular fa-thumbs-up"></i>  20</p>
                                <p><i class="fa-regular fa-thumbs-down"></i>  2</p>
                            </div>        
                        </div>  
                        {% empty %}
                               <p>Be the first one to comment</p>
                        {% endfor %}       
                             
                        {% if new_comment %}
								<p>Your comment has been added.</p>
						{% else %} 
                                <div class="comment-box">
                                    <h3>Leave a comment</h3>
                                    <form class="comment-form" method="post" action=".">{% csrf_token %}
                                        <input type="text" name="name" placeholder="Name">
                                        <input type="email" name="email" placeholder="Email">
                                        <textarea name="message"  rows="5" placeholder="comment here"></textarea>
                                        <button class="btn" type="submit">Comment</button>
                                    </form>
                                </div>  
                        {% endif %}        

                    </section> 

                </div> 
                
            </div>

            {% show_sidebar  %}     
        </div>
    </section>

{% endblock body %}