{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load hitcount_tags %}
{% load code_tags %}

{% block body %}    
                
<section class="hero">      
    <div class="form">
        <form action="#">
            <input type="text" name="search" placeholder="Search.."> 
        </form>
    </div>
</section>



<div class="flex">
    
    <div class="flex__main">

        {% for item in posts %}

            <div class="post">
                <div class="post__titles">
                    <img class="profile-pic" src="{% static 'images/profile/pexels-suliman-sallehi-1704488.jpeg' %}" alt="Profile Picture">
                    <h3>{{item.author}}</h3>
                    <p class="date">{{item.publish | naturaltime}}</p>
                </div>

                <div class="post__body">
                    <div class="body-text">
                        <h2><a href="{{item.get_absolute_url}}">{{item.title}}</a></h2>
                        <p class="description">
                            {{item.body |truncatewords_html:30 | markdown}}
                        </p>
                    </div>
                    <img class="post__image" src="{{item.photo.url}}" alt="{{item.title}}">
                </div>

                <div class="post__footer tags">
                    <ul>
                        {% for tag in item.tags.all %}
                            <li><a href="tag.html">{{ tag.name }}</a></li>
                        {% endfor %}
                        <li>5 min read</li>

                        
                    </ul>
                    <div class="icons">

                        <p><i class="fa-solid fa-eye"></i>  {% get_hit_count for item %}  </p>

                        <p><i class="fa-solid fa-comments"></i>
                        
                           {% with item.comments.count as total_comments %}                                                   
                                {{ total_comments }}                     
                            {% endwith %}	
                        </p>
                    </div>
                    
                </div>

            </div>
        {% empty %}
                  <h2> No posts at the moment please check bacl later. </h2>
        {% endfor %}


                                                          
    </div>

    {% show_sidebar  %}              
    
</div>
{% endblock body %}