@use '../util/' as u;

.flex {
    display: flex;
    justify-content: space-between;
    width: min(100% - 40px, 1600px);
    margin: 2em auto .5em auto; 


    &__main {
        flex-basis: 70%;

    }

    &__sidebar {

        flex-basis: 30%;
        border-left: .01em solid  var(--secondary-color);   
        padding-left: 2em;

            .tags-section {
                    .title {
                        color: var(--my-black);
                        padding-left: 0;
                    }
        
    }

    .staff-picks {
        margin: 1.2em 0;

        .staff-picks-box {
            margin: .2em 0 .9em 0;
           
        }

        .writer-details {
            display: flex;
            align-items: center;
            
            margin: 0;
            

            img {
                height: 1.25em;
                width: 1.25em;
                border-radius: 50%;
                margin-right: .2em;
            }
        }
    }

    p {
        padding: .2em .3em .2em .3em;
        margin-top: 1em;
        font-size: .8em;
        color: var(--my-black);
        font-weight: bold;
    }

    h5 {
        margin: .1em 0;
        font-size: 1em;
        color: var(--secondary-color);
        cursor: pointer;

    }

    a {
        text-decoration: none;
    }

    h3 {
        padding-left: 0;   
        margin-bottom: .1em;    
    }

    .categories {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 .2em 0;
                       
    }

    .pill {
        background: var(--primary-color);
        color: #fff;
        border-radius: .5em;
    }

    ul {
        list-style: none;
        position: relative;
        bottom: 0;

        li {
            display: inline-block;
            padding: .2em;

            a {
                text-decoration: none;
                color: var(--secondary-color);
                font-size: small;
            }
        }
    }  
    
}

    @include u.breakpoint(medium){
        flex-direction: column;
        
        &__sidebar {          
            border: none;
            padding: 0;

        }        

    }
    
}


.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
 
    .results {
               margin: 7em auto 2.5em auto;

               h2 {
                    text-decoration: underline;
               }
               

               h3 {
                color: white;
                background-color: var(--primary-color);
                border-radius: 10px;
                width: fit-content;

               }
        
    }

    @include u.breakpoint(medium){

            .results {
                   margin: 5em auto 1.5em auto;    
                   }      
               }
}